## **Marketing Campaign Dataset Analysis**

Explanation on the project:
1. Dataset used is Marketing Campaign dataset of customer personality provided in this [link](https://www.kaggle.com/imakash3011/customer-personality-analysis);
2.  The first step is to measure the central tendency value of the dataset;
3. The second step is to measure the spread of the data;
4. The final analysis is to test the hypothesis whether **education** variable affects **income**.

### **Library**

In [842]:
import pandas as pd
import numpy as np
from scipy import stats
import scipy.stats as st

### **Dataset**

Import Dataset

In [843]:
df = pd.read_csv('marketing_campaign.csv', sep="\t") # Please upload the csv file

**Dataset Overview**

In [844]:
df.shape

(2240, 29)

In [845]:
df

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [846]:
list(df.columns.values)

['ID',
 'Year_Birth',
 'Education',
 'Marital_Status',
 'Income',
 'Kidhome',
 'Teenhome',
 'Dt_Customer',
 'Recency',
 'MntWines',
 'MntFruits',
 'MntMeatProducts',
 'MntFishProducts',
 'MntSweetProducts',
 'MntGoldProds',
 'NumDealsPurchases',
 'NumWebPurchases',
 'NumCatalogPurchases',
 'NumStorePurchases',
 'NumWebVisitsMonth',
 'AcceptedCmp3',
 'AcceptedCmp4',
 'AcceptedCmp5',
 'AcceptedCmp1',
 'AcceptedCmp2',
 'Complain',
 'Z_CostContact',
 'Z_Revenue',
 'Response']

# **Descriptive Statistics**

## **Descriptive Statistics using Pandas Describe**

In [847]:
cols = set(df.columns) - {'ID'} # Show Descriptive Statistics for non index data
df1 = df[list(cols)]
df1.describe()

,Teenhome,Kidhome,MntWines,NumStorePurchases,Z_Revenue,MntGoldProds,AcceptedCmp3,MntFishProducts,NumCatalogPurchases,AcceptedCmp4,...,MntSweetProducts,Income,Year_Birth,NumDealsPurchases,NumWebVisitsMonth,MntFruits,Z_CostContact,NumWebPurchases,Complain,MntMeatProducts
count,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.000000,2240.000000,2240.000000
mean,0.506250,0.444196,303.935714,5.790179,11.0,44.021875,0.072768,37.525446,2.662054,0.074554,...,27.062946,52247.251354,1968.805804,2.325000,5.316518,26.302232,3.0,4.084821,0.009375,166.950000
std,0.544538,0.538398,336.597393,3.250958,0.0,52.167439,0.259813,54.628979,2.923101,0.262728,...,41.280498,25173.076661,11.984069,1.932238,2.426645,39.773434,0.0,2.778714,0.096391,225.715373
min,0.000000,0.000000,0.000000,0.000000,11.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1730.000000,1893.000000,0.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000
25%,0.000000,0.000000,23.750000,3.000000,11.0,9.000000,0.000000,3.000000,0.000000,0.000000,...,1.000000,35303.000000,1959.000000,1.000000,3.000000,1.000000,3.0,2.000000,0.000000,16.000000
50%,0.000000,0.000000,173.500000,5.000000,11.0,24.000000,0.000000,12.000000,2.000000,0.000000,...,8.000000,51381.500000,1970.000000,2.000000,6.000000,8.000000,3.0,4.000000,0.000000,67.000000
75%,1.000000,1.000000,504.250000,8.000000,11.0,56.000000,0.000000,50.000000,4.000000,0.000000,...,33.000000,68522.000000,1977.000000,3.000000,7.000000,33.000000,3.0,6.000000,0.000000,232.000000
max,2.000000,2.000000,1493.000000,13.000000,11.0,362.000000,1.000000,259.000000,28.000000,1.000000,...,263.000000,666666.000000,1996.000000,15.000000,20.000000,199.000000,3.0,27.000000,1.000000,1725.000000

In [848]:
df1.describe().T # Transposed for better view

,count,mean,std,min,25%,50%,75%,max
Teenhome,2240.0,0.506250,0.544538,0.0,0.00,0.0,1.00,2.0
Kidhome,2240.0,0.444196,0.538398,0.0,0.00,0.0,1.00,2.0
MntWines,2240.0,303.935714,336.597393,0.0,23.75,173.5,504.25,1493.0
NumStorePurchases,2240.0,5.790179,3.250958,0.0,3.00,5.0,8.00,13.0
Z_Revenue,2240.0,11.000000,0.000000,11.0,11.00,11.0,11.00,11.0
MntGoldProds,2240.0,44.021875,52.167439,0.0,9.00,24.0,56.00,362.0
AcceptedCmp3,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
MntFishProducts,2240.0,37.525446,54.628979,0.0,3.00,12.0,50.00,259.0
NumCatalogPurchases,2240.0,2.662054,2.923101,0.0,0.00,2.0,4.00,28.0
AcceptedCmp4,2240.0,0.074554,0.262728,0.0,0.00,0.0,0.00,1.0
AcceptedCmp5,2240.0,0.072768,0.259813,0.0,0.00,0.0,0.00,1.0
AcceptedCmp1,2240.0,0.064286,0.245316,0.0,0.00,0.0,0.00,1.0
Response,2240.0,0.149107,0.356274,0.0,0.00,0.0,0.00,1.0
AcceptedCmp2,2240.0,0.013393,0.114976,0.0,0.00,0.0,0.00,1.0
Recency,2240.0,49.109375,28.962453,0.0,24.00,49.0,74.00,99.0
MntSweetProducts,2240.0,27.062946,41.280498,0.0,1.00,8.0,33.00,263.0
Income,2216.0,52247.251354,25173.076661,1730.0,35303.00,51381.5,68522.00,666666.0
Year_Birth,2240.0,1968.805804,11.984069,1893.0,1959.00,1970.0,1977.00,1996.0
NumDealsPurchases,2240.0,2.325000,1.932238,0.0,1.00,2.0,3.00,15.0
NumWebVisitsMonth,2240.0,5.316518,2.426645,0.0,3.00,6.0,7.00,20.0
MntFruits,2240.0,26.302232,39.773434,0.0,1.00,8.0,33.00,199.0
Z_CostContact,2240.0,3.000000,0.000000,3.0,3.00,3.0,3.00,3.0
NumWebPurchases,2240.0,4.084821,2.778714,0.0,2.00,4.0,6.00,27.0
Complain,2240.0,0.009375,0.096391,0.0,0.00,0.0,0.00,1.0
MntMeatProducts,2240.0,166.950000,225.715373,0.0,16.00,67.0,232.00,1725.0

### **Descriptive Statistic Pandas Describe for Specific Variables**

In [849]:
df1[['Education']].describe(include = 'object').T

          count unique         top  freq
Education  2240      5  Graduation  1127

In [850]:
df1[['Income']].describe().T

,count,mean,std,min,25%,50%,75%,max
Income,2216.0,52247.251354,25173.076661,1730.0,35303.0,51381.5,68522.0,666666.0

# **Manual Descriptive Statistics**

## **Central Tendency Measurement**

### **Mean**

In [851]:
df_mean = df1.mean()
df_mean = df_mean.to_frame(name = 'Mean')
df_mean

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

                             Mean
Teenhome                 0.506250
Kidhome                  0.444196
MntWines               303.935714
NumStorePurchases        5.790179
Z_Revenue               11.000000
MntGoldProds            44.021875
AcceptedCmp3             0.072768
MntFishProducts         37.525446
NumCatalogPurchases      2.662054
AcceptedCmp4             0.074554
AcceptedCmp5             0.072768
AcceptedCmp1             0.064286
Response                 0.149107
AcceptedCmp2             0.013393
Recency                 49.109375
MntSweetProducts        27.062946
Income               52247.251354
Year_Birth            1968.805804
NumDealsPurchases        2.325000
NumWebVisitsMonth        5.316518
MntFruits               26.302232
Z_CostContact            3.000000
NumWebPurchases          4.084821
Complain                 0.009375
MntMeatProducts        166.950000

### **Median**

In [852]:
df_med = df1.median()
df_med = df_med.to_frame(name = 'Median')
df_med

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

                      Median
Teenhome                 0.0
Kidhome                  0.0
MntWines               173.5
NumStorePurchases        5.0
Z_Revenue               11.0
MntGoldProds            24.0
AcceptedCmp3             0.0
MntFishProducts         12.0
NumCatalogPurchases      2.0
AcceptedCmp4             0.0
AcceptedCmp5             0.0
AcceptedCmp1             0.0
Response                 0.0
AcceptedCmp2             0.0
Recency                 49.0
MntSweetProducts         8.0
Income               51381.5
Year_Birth            1970.0
NumDealsPurchases        2.0
NumWebVisitsMonth        6.0
MntFruits                8.0
Z_CostContact            3.0
NumWebPurchases          4.0
Complain                 0.0
MntMeatProducts         67.0

### **Mode**

In [853]:
df1mode = df1.mode()
#print(df1mode.iloc[0])
df_mode = df1mode.iloc[0]
df_mode = df_mode.to_frame(name = 'Mode')
df_mode

                           Mode
Teenhome                      0
Kidhome                       0
MntWines                      2
NumStorePurchases             3
Z_Revenue                    11
Marital_Status          Married
MntGoldProds                  1
AcceptedCmp3                  0
MntFishProducts               0
NumCatalogPurchases           0
AcceptedCmp4                  0
AcceptedCmp5                  0
AcceptedCmp1                  0
Response                      0
AcceptedCmp2                  0
Recency                      56
MntSweetProducts              0
Income                   7500.0
Year_Birth                 1976
Dt_Customer          31-08-2012
NumDealsPurchases             1
Education            Graduation
NumWebVisitsMonth             7
MntFruits                     0
Z_CostContact                 3
NumWebPurchases               2
Complain                      0
MntMeatProducts               7

## **Spread Measurement**

### **Variance**

In [854]:
df_var = df1.var()
df_var = df_var.to_frame(name = 'Variance')
df_var

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

                         Variance
Teenhome             2.965219e-01
Kidhome              2.898725e-01
MntWines             1.132978e+05
NumStorePurchases    1.056873e+01
Z_Revenue            0.000000e+00
MntGoldProds         2.721442e+03
AcceptedCmp3         6.750283e-02
MntFishProducts      2.984325e+03
NumCatalogPurchases  8.544517e+00
AcceptedCmp4         6.902615e-02
AcceptedCmp5         6.750283e-02
AcceptedCmp1         6.017993e-02
Response             1.269309e-01
AcceptedCmp2         1.321939e-02
Recency              8.388237e+02
MntSweetProducts     1.704080e+03
Income               6.336838e+08
Year_Birth           1.436179e+02
NumDealsPurchases    3.733542e+00
NumWebVisitsMonth    5.888606e+00
MntFruits            1.581926e+03
Z_CostContact        0.000000e+00
NumWebPurchases      7.721252e+00
Complain             9.291257e-03
MntMeatProducts      5.094743e+04

### **Standard Deviation**

In [855]:
df_std = df1.std()
df_std = df_std.to_frame(name = 'Standard_Deviation')
df_std

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

                     Standard_Deviation
Teenhome                       0.544538
Kidhome                        0.538398
MntWines                     336.597393
NumStorePurchases              3.250958
Z_Revenue                      0.000000
MntGoldProds                  52.167439
AcceptedCmp3                   0.259813
MntFishProducts               54.628979
NumCatalogPurchases            2.923101
AcceptedCmp4                   0.262728
AcceptedCmp5                   0.259813
AcceptedCmp1                   0.245316
Response                       0.356274
AcceptedCmp2                   0.114976
Recency                       28.962453
MntSweetProducts              41.280498
Income                     25173.076661
Year_Birth                    11.984069
NumDealsPurchases              1.932238
NumWebVisitsMonth              2.426645
MntFruits                     39.773434
Z_CostContact                  0.000000
NumWebPurchases                2.778714
Complain                       0.096391
MntMeatProducts              225.715373

### **Range**

In [856]:
dfmax = df1.max()
dfmax_clean = dfmax.drop('Marital_Status')
dfmax_clean = dfmax_clean.drop('Education')
dfmax_clean = dfmax_clean.drop('Dt_Customer')
dfmax_fin = dfmax_clean.to_frame(name = 'Max')
dfmax_clean.to_frame(name = 'Max')

                          Max
Teenhome                    2
Kidhome                     2
MntWines                 1493
NumStorePurchases          13
Z_Revenue                  11
MntGoldProds              362
AcceptedCmp3                1
MntFishProducts           259
NumCatalogPurchases        28
AcceptedCmp4                1
AcceptedCmp5                1
AcceptedCmp1                1
Response                    1
AcceptedCmp2                1
Recency                    99
MntSweetProducts          263
Income               666666.0
Year_Birth               1996
NumDealsPurchases          15
NumWebVisitsMonth          20
MntFruits                 199
Z_CostContact               3
NumWebPurchases            27
Complain                    1
MntMeatProducts          1725

In [857]:
dfmin = df1.min()
dfmin_clean = dfmin.drop('Marital_Status')
dfmin_clean = dfmin_clean.drop('Education')
dfmin_clean = dfmin_clean.drop('Dt_Customer')
dfmin_fin = dfmin_clean.to_frame(name = 'Min')
dfmin_clean.to_frame(name = 'Min')

                        Min
Teenhome                  0
Kidhome                   0
MntWines                  0
NumStorePurchases         0
Z_Revenue                11
MntGoldProds              0
AcceptedCmp3              0
MntFishProducts           0
NumCatalogPurchases       0
AcceptedCmp4              0
AcceptedCmp5              0
AcceptedCmp1              0
Response                  0
AcceptedCmp2              0
Recency                   0
MntSweetProducts          0
Income               1730.0
Year_Birth             1893
NumDealsPurchases         0
NumWebVisitsMonth         0
MntFruits                 0
Z_CostContact             3
NumWebPurchases           0
Complain                  0
MntMeatProducts           0

In [858]:
df_range = pd.concat([dfmin_fin, dfmax_fin], axis = 1)
pd.concat([dfmin_fin, dfmax_fin], axis = 1)

                        Min       Max
Teenhome                  0         2
Kidhome                   0         2
MntWines                  0      1493
NumStorePurchases         0        13
Z_Revenue                11        11
MntGoldProds              0       362
AcceptedCmp3              0         1
MntFishProducts           0       259
NumCatalogPurchases       0        28
AcceptedCmp4              0         1
AcceptedCmp5              0         1
AcceptedCmp1              0         1
Response                  0         1
AcceptedCmp2              0         1
Recency                   0        99
MntSweetProducts          0       263
Income               1730.0  666666.0
Year_Birth             1893      1996
NumDealsPurchases         0        15
NumWebVisitsMonth         0        20
MntFruits                 0       199
Z_CostContact             3         3
NumWebPurchases           0        27
Complain                  0         1
MntMeatProducts           0      1725

In [859]:
range = df_range["Max"] - df_range["Min"]
df_range["Range"] = range
df_range

                        Min       Max     Range
Teenhome                  0         2         2
Kidhome                   0         2         2
MntWines                  0      1493      1493
NumStorePurchases         0        13        13
Z_Revenue                11        11         0
MntGoldProds              0       362       362
AcceptedCmp3              0         1         1
MntFishProducts           0       259       259
NumCatalogPurchases       0        28        28
AcceptedCmp4              0         1         1
AcceptedCmp5              0         1         1
AcceptedCmp1              0         1         1
Response                  0         1         1
AcceptedCmp2              0         1         1
Recency                   0        99        99
MntSweetProducts          0       263       263
Income               1730.0  666666.0  664936.0
Year_Birth             1893      1996       103
NumDealsPurchases         0        15        15
NumWebVisitsMonth         0        20        20
MntFruits                 0       199       199
Z_CostContact             3         3         0
NumWebPurchases           0        27        27
Complain                  0         1         1
MntMeatProducts           0      1725      1725

### **Quartile**

In [860]:
df_Q1 = df1.quantile(0.25).to_frame(name = 'Q1')
df_Q1

                           Q1
Teenhome                 0.00
Kidhome                  0.00
MntWines                23.75
NumStorePurchases        3.00
Z_Revenue               11.00
MntGoldProds             9.00
AcceptedCmp3             0.00
MntFishProducts          3.00
NumCatalogPurchases      0.00
AcceptedCmp4             0.00
AcceptedCmp5             0.00
AcceptedCmp1             0.00
Response                 0.00
AcceptedCmp2             0.00
Recency                 24.00
MntSweetProducts         1.00
Income               35303.00
Year_Birth            1959.00
NumDealsPurchases        1.00
NumWebVisitsMonth        3.00
MntFruits                1.00
Z_CostContact            3.00
NumWebPurchases          2.00
Complain                 0.00
MntMeatProducts         16.00

In [861]:
df_Q2 = df1.quantile(0.5).to_frame(name = 'Q2')
df_Q2

                          Q2
Teenhome                 0.0
Kidhome                  0.0
MntWines               173.5
NumStorePurchases        5.0
Z_Revenue               11.0
MntGoldProds            24.0
AcceptedCmp3             0.0
MntFishProducts         12.0
NumCatalogPurchases      2.0
AcceptedCmp4             0.0
AcceptedCmp5             0.0
AcceptedCmp1             0.0
Response                 0.0
AcceptedCmp2             0.0
Recency                 49.0
MntSweetProducts         8.0
Income               51381.5
Year_Birth            1970.0
NumDealsPurchases        2.0
NumWebVisitsMonth        6.0
MntFruits                8.0
Z_CostContact            3.0
NumWebPurchases          4.0
Complain                 0.0
MntMeatProducts         67.0

In [862]:
df_Q3 = df1.quantile(0.75).to_frame(name = 'Q3')
df_Q3

                           Q3
Teenhome                 1.00
Kidhome                  1.00
MntWines               504.25
NumStorePurchases        8.00
Z_Revenue               11.00
MntGoldProds            56.00
AcceptedCmp3             0.00
MntFishProducts         50.00
NumCatalogPurchases      4.00
AcceptedCmp4             0.00
AcceptedCmp5             0.00
AcceptedCmp1             0.00
Response                 0.00
AcceptedCmp2             0.00
Recency                 74.00
MntSweetProducts        33.00
Income               68522.00
Year_Birth            1977.00
NumDealsPurchases        3.00
NumWebVisitsMonth        7.00
MntFruits               33.00
Z_CostContact            3.00
NumWebPurchases          6.00
Complain                 0.00
MntMeatProducts        232.00

# **Summary Descrptive Stats**

In [863]:
pd.concat([df_mean, df_med, df_mode, df_var, df_std, df_range, df_Q1, df_Q2, df_Q3], axis = 1)

,Mean,Median,Mode,Variance,Standard_Deviation,Min,Max,Range,Q1,Q2,Q3
Teenhome,0.506250,0.0,0,2.965219e-01,0.544538,0,2,2,0.00,0.0,1.00
Kidhome,0.444196,0.0,0,2.898725e-01,0.538398,0,2,2,0.00,0.0,1.00
MntWines,303.935714,173.5,2,1.132978e+05,336.597393,0,1493,1493,23.75,173.5,504.25
NumStorePurchases,5.790179,5.0,3,1.056873e+01,3.250958,0,13,13,3.00,5.0,8.00
Z_Revenue,11.000000,11.0,11,0.000000e+00,0.000000,11,11,0,11.00,11.0,11.00
MntGoldProds,44.021875,24.0,1,2.721442e+03,52.167439,0,362,362,9.00,24.0,56.00
AcceptedCmp3,0.072768,0.0,0,6.750283e-02,0.259813,0,1,1,0.00,0.0,0.00
MntFishProducts,37.525446,12.0,0,2.984325e+03,54.628979,0,259,259,3.00,12.0,50.00
NumCatalogPurchases,2.662054,2.0,0,8.544517e+00,2.923101,0,28,28,0.00,2.0,4.00
AcceptedCmp4,0.074554,0.0,0,6.902615e-02,0.262728,0,1,1,0.00,0.0,0.00
AcceptedCmp5,0.072768,0.0,0,6.750283e-02,0.259813,0,1,1,0.00,0.0,0.00
AcceptedCmp1,0.064286,0.0,0,6.017993e-02,0.245316,0,1,1,0.00,0.0,0.00
Response,0.149107,0.0,0,1.269309e-01,0.356274,0,1,1,0.00,0.0,0.00
AcceptedCmp2,0.013393,0.0,0,1.321939e-02,0.114976,0,1,1,0.00,0.0,0.00
Recency,49.109375,49.0,56,8.388237e+02,28.962453,0,99,99,24.00,49.0,74.00
MntSweetProducts,27.062946,8.0,0,1.704080e+03,41.280498,0,263,263,1.00,8.0,33.00
Income,52247.251354,51381.5,7500.0,6.336838e+08,25173.076661,1730.0,666666.0,664936.0,35303.00,51381.5,68522.00
Year_Birth,1968.805804,1970.0,1976,1.436179e+02,11.984069,1893,1996,103,1959.00,1970.0,1977.00
NumDealsPurchases,2.325000,2.0,1,3.733542e+00,1.932238,0,15,15,1.00,2.0,3.00
NumWebVisitsMonth,5.316518,6.0,7,5.888606e+00,2.426645,0,20,20,3.00,6.0,7.00
MntFruits,26.302232,8.0,0,1.581926e+03,39.773434,0,199,199,1.00,8.0,33.00
Z_CostContact,3.000000,3.0,3,0.000000e+00,0.000000,3,3,0,3.00,3.0,3.00
NumWebPurchases,4.084821,4.0,2,7.721252e+00,2.778714,0,27,27,2.00,4.0,6.00
Complain,0.009375,0.0,0,9.291257e-03,0.096391,0,1,1,0.00,0.0,0.00
MntMeatProducts,166.950000,67.0,7,5.094743e+04,225.715373,0,1725,1725,16.00,67.0,232.00
Marital_Status,NaN,NaN,Married,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dt_Customer,NaN,NaN,31-08-2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Education,NaN,NaN,Graduation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Hypothesis Testing**

## **Data Preparation for Variables 'Education' and 'Income'**

In [864]:
df_stat = df1[['Education', 'Income']]
df_stat

       Education   Income
0     Graduation  58138.0
1     Graduation  46344.0
2     Graduation  71613.0
3     Graduation  26646.0
4            PhD  58293.0
...          ...      ...
2235  Graduation  61223.0
2236         PhD  64014.0
2237  Graduation  56981.0
2238      Master  69245.0
2239         PhD  52869.0

[2240 rows x 2 columns]

### **Clean NaN**

NaN Value will be replaced by the mean value of the "Income" variable.

In [865]:
Mean_Income = df_stat["Income"].mean()
print(Mean_Income)

52247.25135379061

In [866]:
df_stat = df_stat.fillna(Mean_Income)
df_stat

       Education   Income
0     Graduation  58138.0
1     Graduation  46344.0
2     Graduation  71613.0
3     Graduation  26646.0
4            PhD  58293.0
...          ...      ...
2235  Graduation  61223.0
2236         PhD  64014.0
2237  Graduation  56981.0
2238      Master  69245.0
2239         PhD  52869.0

[2240 rows x 2 columns]

### **Convert data education into integer code**

In [867]:
np.unique(df_stat["Education"])

array(['2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD'], dtype=object)

In [868]:
edu_cat = df_stat['Education'].map({'Basic':1, 'Graduation':2, '2n Cycle': 3, 'Master': 3, 'PhD': 4})
edu_cat = edu_cat.to_frame(name = 'Education_Convert')
edu_cat

      Education_Convert
0                     2
1                     2
2                     2
3                     2
4                     4
...                 ...
2235                  2
2236                  4
2237                  2
2238                  3
2239                  4

[2240 rows x 1 columns]

In [869]:
df_stat_rev = pd.concat([edu_cat, df_stat], axis = 1)

In [870]:
df_stat_rev = df_stat_rev.drop(df_stat_rev.columns[[1]], axis=1)

In [871]:
df_stat_rev = df_stat_rev.sort_values(by=['Education_Convert'])
df_stat_rev

      Education_Convert   Income
1183                  1  15056.0
280                   1  24480.0
1677                  1  15862.0
1240                  1  25707.0
136                   1   9548.0
...                 ...      ...
814                   4  91820.0
1758                  4  38725.0
803                   4  82716.0
1749                  4  80360.0
2239                  4  52869.0

[2240 rows x 2 columns]

## **Testing**

### **One-Way Anova**

In [872]:
df_Basic = df_stat_rev[df_stat_rev['Education_Convert'] == 1]
df_Graduation = df_stat_rev[df_stat_rev['Education_Convert'] == 2]
df_2nCycle = df_stat_rev[df_stat_rev['Education_Convert'] == 3]
df_Master = df_stat_rev[df_stat_rev['Education_Convert'] == 3]
df_PhD = df_stat_rev[df_stat_rev['Education_Convert'] == 4]

In [873]:
anova_test = st.f_oneway(df_2nCycle['Income'], df_Basic['Income'], df_Graduation['Income'], df_Master['Income'], df_PhD['Income'])
pvalue = anova_test.pvalue
pvalue

4.5963643767356927e-23

In [874]:
Significance_level = 0.05

In [875]:
if pvalue < Significance_level:
  print("'Education' variable is significantly affecting customers' 'Income' variable")
else:
    print("'Education' variable is NOT significantly affecting customers 'Income' variable")

'Education' variable is significantly affecting customers' 'Income' variable

### **Covariance**

In [876]:
df_cov = df_stat_rev.cov()
df_cov

                   Education_Convert        Income
Education_Convert           0.705026  2.142292e+03
Income                   2142.291539  6.268913e+08

In [877]:
covar = (df_cov > 0).any()
covar

Education_Convert    True
Income               True
dtype: bool

In [878]:
if covar.any() == True:
  print("Due to covariance value being positive (covar > 0), 'Education' variable is positively correlated with 'Income' variable. Means increase in one variable leads to increase on the other one")
else:
  print("Due to covariance value being negative (covar < 0), 'Education' variable is negatively correlated with 'Income' variable. Means increase in one variable leads to decrease on the other one")

Due to covariance value being positive (covar > 0), 'Education' variable is positively correlated with 'Income' variable. Means increase in one variable leads to increase on the other one

### **Correlation**

In [879]:
df_corr = df_stat_rev.corr(method ='pearson')
df_stat_rev.corr(method ='pearson')

                   Education_Convert    Income
Education_Convert           1.000000  0.101901
Income                      0.101901  1.000000

In [880]:
value_corr = df_corr.at["Education_Convert", "Income"]
value_corr

0.10190134147625694

In [881]:
if value_corr == 1:
  print("The customer's education is perfectly correlated with the income")
elif 1 > value_corr >= 0.5:
  print("The customer's education is strongly correlated with the income")
elif 0.5 > value_corr >= 0.3:
  print("The customer's education has medium correlation with the income")
elif 0.3 > value_corr > 0:
  print("The customer's education has small correlation with the income")
else:
  print("The customer's education has NO correlation with the income")

The customer's education has small correlation with the income